
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->



<div class="container">
<br> 
<hr>





<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Sign In</h4>
	<p class="divider-text">
        <span class="bg-light"></span>
    </p>
	<form (ngSubmit)= "onSubmit()">
    <span class="error" *ngIf="eName.invalid && eName.touched">Please Enter a Valid E-Mail</span>   
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input  class="form-control" placeholder="Email address" type="email" required #eName="ngModel" email [(ngModel)]="email" [ngModelOptions]="{standalone: true}" id="email">
    </div> <!-- form-group// -->
    <span class="error" *ngIf="pword.invalid && pword.touched">Please Enter a Password</span>       

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Create password" type="password" required #pword="ngModel" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="password">
    </div> <!-- form-group// -->                                   
    <div class="form-group">
        <button [disabled]="!(eName.valid && pword.valid )" type="submit" class="btn btn-primary btn-block"> Login  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Need an account? <a href="/">Register</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->




