
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->



<div class="container">
<br> 
<hr>





<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<p class="divider-text">
        <span class="bg-light"></span>
    </p>
	<form>
    <span class="error" *ngIf="fname.invalid && fname.touched">Please Enter a Name</span>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input id="firstname" required #fname="ngModel" [(ngModel)]="name" class="form-control" placeholder="Full name" type="text" 
        [ngModelOptions]="{standalone: true}">
        
        
    </div> <!-- form-group// -->
    <span class="error" *ngIf="eName.invalid && eName.touched">Please Enter a Valid E-Mail</span>   
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input  class="form-control" placeholder="Email address" type="email" required #eName="ngModel" email [(ngModel)]="email" [ngModelOptions]="{standalone: true}" id="email">
    </div> <!-- form-group// -->
    <span class="error" *ngIf="aName.invalid && aName.touched">Please Enter a Valid Address</span>   

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-map"></i> </span>
		</div>
    	<input  class="form-control" required #aName="ngModel" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" placeholder="Address" type="address" id="address">
    </div> <!-- form-group// -->
    <span class="error" *ngIf="pName.invalid && pName.touched">Please Enter a Valid Phone Number</span>   

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
    	<input id="phone" class="form-control" placeholder="Phone number" type="ohone" required #pName="ngModel" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
    </div> <!-- form-group// -->
    <span class="error" *ngIf="pword.invalid && pword.touched">Please Enter a Password</span>       

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Create password" type="password" required #pword="ngModel" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="password">
    </div> <!-- form-group// -->                                   
    <div class="form-group">
        <button [disabled]="!(fname.valid && eName.valid && pword.valid && aName.valid && pName.valid)" type="submit" class="btn btn-primary btn-block" (click)="save()"> Register  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have an account? <a href="/login">Log In</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->




